/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,
address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,
b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,time,mark,audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
article,aside,details,figcaption,figure,footer,header,hgroup,
menu,nav,section {
    display: block;
}
body {
    width: 100%;
    height: auto;
    line-height: 1.6;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background: url(../images/bg.png) no-repeat center 0;
}
p{
    font-size: 14px;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
nav ul,ul,li{
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #5d5d5d;
    text-decoration: none;
}
a:hover {text-decoration: none;color: #cccccc;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input,select {
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 {
    letter-spacing: 1px;
}
.textCenter {
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
/* End reset */
#hidpopup {
    background-color: #000;
    height: 100%;
    opacity: 0.9;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999999;
    display: none;
}

/**Popup register**/
#popup_register {
    position:fixed;
    padding-top:0px;
    z-index:999999;
    height:450px;
    width:655px;
    background-color:#fff;
    left:50%;
    top:50%;
    margin: -225px 0 0 -325px;
    display: none;
}
#popup_register  .close a {
    right:28px;
    top:0;
}
.close2 a {
    height: 32px;
    width: 32px;
    float: right;
    right: 28px;
    top: 0px;
    position: absolute;
    cursor: pointer;
    color: transparent;
}
.close2 img {
    max-width: none;
}
.ologo {
    background-color:#018dbe;
    float:left;
    height:58px;
    width:595px;
    text-align: center;
}
.ologo .lOgame {
    padding:9px;
    height:40px;
}
#fanpage {
    float: left;
    margin: 20px;
    width: 180px;
}
#popup_register nav a{
    width:208px;
    float:left;
    text-align:center;
    padding:8px 0;
    cursor:pointer;
    color:#018dbe;
    text-transform:uppercase;
    font:bold 16px Arial;
    margin-right:1px;
}
#popup_register nav a:hover, #popup_register nav a.pselect {
    background: #ddd;
}
.select {
    background: #ddd !important;
}
#freg p,#flogin p {
    color:#018dbe;
    text-transform:uppercase;
    font:bold 16px Arial;
    width:100%;
    text-align:center;
    margin:15px 0 0;
}
#flogin, #freg {
    height: 320px;
    float:left;
    width:415px;
}
#freg .formlogin {
    height: 240px;
}
.formlogin {
    float: left;
    margin-top: 5px;
}
.formlogin div {
    padding: 4px 5px;
    width:100%;
}
.formlogin hr {
    float:left;
    width:110px;
}
.formlogin hr:last-child {
    float: right;
}
.formlogin .wtext {
    float: left;
    padding-top: 10px;
    text-align: right;
    width: 15px;
}
.formlogin input[type="text"],.formlogin input[type="password"],#form_nhancode input[type="text"] {
    border: 1px solid #ccc;
    height: 25px;
    margin-left: 10px;
    width: 230px;
    color:#777;
}
#btnreg input[type="submit"], #btnlogin input[type="submit"],#btnNhancode1 input[type="submit"],#btnok input[type="submit"] {
    background: url("../images/teaser/btnRegister.png") no-repeat scroll left top;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font:bold 15px Arial;
    margin: 7px 0 0px 100px;
    padding: 7px 7px 7px 45px;
    text-transform: uppercase;
    width:auto;
    height:auto;
}
.txtaccount {
    background: url(../images/teaser/icoacc_hide.png) no-repeat scroll 5px center;
    padding-left:22px;
}
#dvcoin
{
    margin-top:10px;
}
#txtEmailReg {
    background: url(../images/teaser/icoemail_hide.png) no-repeat scroll 5px center;
    padding-left:23px;
}
.txtpass,#txtPassword2 {
    background: url(../images/teaser/icopass_hide.png) no-repeat scroll 5px center;
    padding-left:22px;
}
#txtPhone {
    background: url(../images/teaser/icophone_hide.png) no-repeat scroll 5px center;
    padding-left:22px;
}
.social {
    float:left;
    text-align:center;
    width:100%;
}
#footer_popup {
    background-color:#cde4ed;
    float:left;
    width:649px;
    padding:3px;
}
#company {
    color: #018dbe;
    float: left;
    font:bold 15px arial;
    padding:5px 0 0 40px;
}
#store {
    float: left;
    margin-left: 15px;
    padding-left: 30px;
}
#store input[type="submit"] {
    background: url(../images/teaser/bg_store.png) no-repeat scroll left top;
    border: medium none;
    color: #731c1c;
    cursor: pointer;
    font: bold 12px Arial;
    height: 30px;
    margin: 0;
    text-align: center;
    width: 122px;
}
.inner {
    width: 1100px;
    min-width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
}
.mainMenu {
    position: relative;
    width: 905px;
    padding: 12px 100px 0;
    margin: 0 auto;
    background: url(../images/bg.menu.png) no-repeat left top;
    min-height: 54px;
}
.mainMenu .menu li {
    display: inline-block;
    margin-right: 30px;
}
.mainMenu .menu li:nth-of-type(3) {
    margin-right: 335px;
    position: relative;
    z-index: 2;
}
.mainMenu .menu li:nth-of-type(4) {
    position: relative;
    z-index: 2;
}
.mainMenu .menu li:last-child {
    margin-right: 0;
}
.mainMenu .menu li a {
    color: #ffffff;
    font-weight: bold;
}
.mainMenu .menu li a:hover {
    color: #f7f117;
}
.logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -200px;
    z-index: 1;
}
.logo img {
	max-width:300px;
}
.wrapper {
    position: relative;
    overflow: hidden;
    margin-top: 445px;
}
.topbar {
    height: 41px;
}
/* Sidebar */
.sidebar {
    float: left;
    width: 290px;
}
.register {
    margin-bottom: 10px;
}
.box-server {
    margin: 10px 0 0;
}
.box-server .title,.box-server .title-bot a {
    background: #351d18;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    padding: 16px 0;
    margin-bottom: 5px;
    border-radius: 7px 7px 0 0;
}
.box-server .title-bot a {
    display: block;
    border-radius: 0 0 7px 7px;
}
.list-server {
    margin: 2px 0 5px;
}
.list-server ul li {
    margin-bottom: 5px;
}
.list-server ul li:last-child {
    margin-bottom: 0;
}
.list-server ul li a {
    background: url(../images/item.server.png) no-repeat left top;
    width: 290px;
    height: 59px;
    display: table-cell;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.list-server ul li a:hover {
    background: url(../images/item.server_hover.png) no-repeat left top;
}
.link-ul li {
    margin-bottom: 10px;
}
.hotline {
    margin-top: 20px;
}
.fanpage {
    margin-top: 20px;
}
/* End Sidebar */

/* Content */
.mainContent {
    width: 793px;
    float: right;
    margin-bottom: 40px;
}

.block-top {
    overflow: hidden;
    margin-bottom: 15px;
}
.banner {
    border: 1px solid #5e3904;
    width: 533px;
    float: left;
}
.contact {
    float: right;
}
.contact li {
    margin-bottom: 6px;
}
.contact li:last-child {
    margin-bottom: 0;
}
.figure {
    border: 1px solid #717171;
    margin-top: 10px;
}
.figure .title {
    background: #351d18;
    color: #ffffff;
    padding: 10px;
}
.figure .title img {
    width: 15px;
    margin: -2px 0 0 5px;
}
.block-tt {
    border: 1px solid #717171;
    padding-bottom: 30px;
}
.block-news .tab ul li {
    padding: 0 0 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px dashed #717171;
}
.block-news .tab ul li strong {
    background: #e04c30;
    color: #ffffff;
    font-weight: normal;
    font-size: 12px;
    padding: 1px 5px;
    margin-right: 7px;
    border: 1px solid #e04c30;
}
.block-news .tab ul li a:hover strong {
    background: #ffffff;
    color: #e04c30;
}
.block-news .tab ul li.hilight {
    background: none;
    margin-bottom: 20px;
    overflow: hidden;
    border: none;
    padding: 0;
}
.block-news .tab ul li.hilight img {
    float: left;
}
.tt-box {
    color: #717171;
    float: right;
    width: 595px;
}
.block-news .tab ul li .tt-more a {
    float: right;
    color: #df4c2f;
}
.block-news .tab ul li .tt-box-title a {
    color: #df4c2f;
    font-weight: bold;
}
.block-news .tab ul li a {
    color: #717171;
}
.block-news .tab ul li a:hover {
    color: #be7101;
}
.block-news .tab ul li a span {
    float: right;
}
.menu-box {
    overflow: hidden;
    margin-bottom: 15px;
    background: #351d18;
    padding: 7px 10px 0;
}
.menu-box .news-menu {
    float: left;
    margin-top: 5px;
}
.menu-box p {
    float: right;
}
.news-menu li {
    display: inline-block;
    vertical-align: bottom;
}
.news-menu li a {
    color: #ffffff;
    font-size: 16px;
    display: block;
    padding: 5px 20px;
    border-radius: 8px 8px 0 0;
}
.news-menu li.active a,.news-menu li a:hover {
    background: #ebebeb;
    color: #351d18;
}
.block-news .tab {
    display: none;
    padding: 0 15px;
}
.block-news .tab.active {
    display: block;
}
.bxslider-game {
    text-align: center;
}
.bxslider-game li {
    display: inline-block;
    position: relative;
    margin: 0 1px;
}
.bxslider-game li span {
    position: absolute;
    right: 10px;
    bottom: 5px;
    background: #e04c30;
    padding: 1px 17px;
    border-radius: 5px;
    color: #ffffff;
}
.fancybox-title-float-wrap .child {
    background: #e04c30;
}
#bg-flash {
    position: absolute;
    top: -20px;
}
/* End Content */

/*footer*/
#footer{
    padding: 540px 0 0;
    overflow: hidden;
    clear: both;
    background: url(../images/bg.footer.png) no-repeat;
    width: 100%;
    margin-top: -340px;
    height: 159px;
}
#footer .inner{
    width: 1000px;
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
}
#footer p {
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
}
#footer .left img {max-width:260px;margin-top:-50px;}
.footer-info {
    width: 570px;
    margin-top: 35px;
    font-size: 17px;
}
.footer-info strong {
    color: #fe6e00;
}
/**footer**/

/**card**/
.info2 {
    margin-top: 45px;
    padding: 0 90px;
}
.napcard {
    background: url(../images/bg.napthe.png) no-repeat left top;
    width: 783px;
    height: 763px;
    padding: 65px 30px 0 30px;
    color: #391700;
    box-sizing: border-box;
    border: 1px solid #717171;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.member-name strong {
    color: #00b4ff;
}
.member-name span {
    background: url(../images/dola.png) no-repeat left center;
    padding-left: 24px;
    display: inline-block;
    color: #da4b5f;
    font-weight: bold;
    margin-left: 10px;
}
.chon-napcard {
    width: 410px;
    margin: 40px auto 0;
}
.chon-napcard #choose_sv {
    margin-left: 15px;
}
.tick-dola {
    clear: both;
}
.tick-dola li {
    display: inline-block;
    width: 35%;
    margin: 0 100px 15px 0;
}
.tick-dola li:nth-of-type(2),.tick-dola li:nth-of-type(4) {
    margin-right: 0;
}
.tick-dola li img {
    margin: 0 15px;
}
.tick-dola li img:last-child {
    margin: 5px 0 0;
    float: right;
}
.tick-dola li:first-child img,.tick-dola li:nth-of-type(3) img {
    margin-left: 21px;
}
.tick-dola li:last-child {
    display: block;
}
.input-xu {
    margin-top: 25px;
}
.input-xu input {
    background: url(../images/dola.png) no-repeat 95% center;
    border: 1px solid #e87400;
    padding: 5px 10px;
    margin-left: 5px;
}
.btn-submit {
    clear: both;
    margin-top: 20px;
}
.btn-submit p {
    font-size: 17px;
    margin: 3px 15px 0 0;
}
.btn-submit p a {
    color: #da4b5f;
}
.btn-submit p a:hover {
    color: #00b4ff;
}
.btn-submit input {
    background: url(../images/recharge_card.png) no-repeat left center;
    width: 108px;
    height: 35px;
    border: none;
    cursor: pointer;
}
.checktitle {
    font-size: 15px;
    margin: 0 10px 20px 0;
    text-align: right;
    float: left;
}
.card-input {
    margin-top: 20px;
}
.card-input input {
    padding: 8px 10px;
    width: 220px;
    border: 1px solid #eb8b42;
}
.money-card {
    margin-top: 20px;
}
.money-card li {
    background: url(../images/gold.png) no-repeat right center;
    display: inline-block;
    padding-right: 20px;
    margin: 6px 20px;
}
#choose_sv {
    float: left;
    min-width: 220px;
    margin-left: 270px;
}
.choose_sv2 {
    margin-left: 10px !important;
}
#choose_sv select {
    background: #ffffff url(../images/arrow.png) no-repeat right top;
    color: #e87400;
    padding: 5px 25px 5px 5px;
    width: 100%;
    border: 1px solid #d9cba6;
    border-right: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/**end card**/

/**news**/
.news {
    background: url(../images/bg.tintuc.png) no-repeat left top;
    width: 786px;
    padding: 7px 25px 30px;
    /*height: 1165px;*/
    border: 1px solid #717171;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-sizing: border-box;
}
.news .h2title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
    padding-left: 10px;
}
.box-tintuc {
    border-bottom: 1px dotted #baad94;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.box-txt {
    width: 550px;
}
.box-txt p {
    color: #704338;
}
.box-txt .title a {
    font-size: 16px;
    font-weight: bold;
    color: #0075c0;
}
.box-txt .title a:hover {
    color: #c43322;
}
.more a {
    color: #c43322;
}
.more a:hover {
    color: #0075c0;
}
.pager ul{
    margin-top: 40px;
}
.pager ul li {
    display: inline-block;
}
.pager ul li a {
    background: #f4ebe3;
    display: inline-block;
    width: 40px;
    text-align: center;
    padding: 6px 0;
    color: #b85d25;
    font-weight: bold;
    border: 1px solid #bda58b;
    font-size: 15px;
    transition: all 0.3s ease 0s;
}
.pager ul li.active a,.pager ul li a:hover {
    background: #b85d25;
    color: #ffffff;
}
/**end news**/

/* news-detail**/
.news-detail {
    /*height: 830px;*/
    padding: 0 0 20px 0;
    margin-bottom: 30px;
}
.scroll-custom .mCSB_dragger_bar {
    width: 7px !important;
    background: #ae3502 !important;
}
.news-detail p {
    margin-bottom: 15px;
}
.h3title {
    background: #ae3502;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0 5px 10px;
    margin-bottom: 15px;
}
.list-involve li {
    border-bottom: 1px dotted #874904;
    list-style-type: square;
    margin: 0 0 3px 15px;
}
.list-involve li span {
    float: right;
}
.list-involve li,.list-involve li a {
    color: #874904;
}
.list-involve li:hover a,.list-involve li:hover {
    color: #ae3502;
}
/**end news-detail**/

/** server **/
.list-server-new {
    background: url(../images/bg.server.png) no-repeat;
    width: 786px;
    /*height: 762px;*/
    padding-top: 36px;
    box-sizing: border-box;
    border: 1px solid #717171;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.list-server-new #choose_sv {
    float: right;
    margin: 0 15px 0 0;
    min-width: 190px;
}
.news-server {
    clear: both;
}
.news-server li {
    display: inline-block;
    margin: 102px 10px 90px;
}
.news-server li a {
    background: url(../images/bg.server.new.png) no-repeat left top;
    width: 211px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 0;
}
.news-server li a:hover,.server-game li a:hover,#header a:hover {
    background: url(../images/bg.server.new_hover.png) no-repeat left top;
}
.chon-server {
    padding: 0 36px 0 32px;
    border-bottom: 30px solid #fff;
}
.chon-server > ul {
    background-color: #ededed;
    border-radius: 10px;
}
#tabserver {
    border: 3px solid #0075c0;
    width: 670px;
    margin: 0 auto 35px;
}
#tabserver ul li{
    background-color: #ffffff;
    display:inline-block;
    margin :0 !important;
    border-right: 1px solid #0075c0;
}
#tabserver ul li a {
    color: #a97245;
    width: 103.2px;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
}
#tabserver ul li:hover,#tabserver ul li:hover a, #tabserver ul li.selected_sv, #tabserver ul li.selected_sv a{
    color: #ffffff;
    background: #06aff0;
    cursor: pointer;
}
#tabserver .previous {
    background: url(../images/arrow_sv.png) no-repeat left top;
    width: 22px;
    height: 22px;
    float: left;
    cursor: pointer;
    margin: 0;
}
#tabserver .next {
    background: url(../images/arrow_sv.png) no-repeat left top;
    width: 22px;
    height: 22px;
    float:left;
    cursor:pointer;
    transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -ms-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
}
.wrapper2 {
    width: 626px !important;
}
.wrapper2 > ul {
    background: #d0c0a4;
}
.server-game li {
    display: inline-block;
    margin: 0 8px 22px;
}
.server-game > li > a {
    background: url(../images/bg.list.server.png) no-repeat left top;
    width: 213px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    padding: 10px 0;
}
.server-game > li > a:hover {
    background: url(../images/bg.list.server_hover.png) no-repeat left top;
}
.list-server-new .member-name {
    margin: 0 0 18px 150px;
}
.list-server-new .member-name a {
    color: #f1b48d;
}
/**end server**/

@media (max-width: 1366px) {
    body {
        background-size: 100%;
    }
    #footer {
        background-size: 100%;
        margin-top: -200px;
        height: 125px;
        padding: 365px 0 0;
    }
    .wrapper {
        margin-top: 350px;
    }
    #bg-flash {
        top: -160px;
    }

}

@media (max-width: 1024px) {
    .wrapper {
        margin-top: 215px;
    }
    .mainMenu {
        background-size: 1000px;
        width: 840px;
        padding: 12px 80px 0
    }
    .mainMenu .menu li:nth-of-type(3) {
        margin-right: 270px;
    }
    .logo {
        width: 200px;
        margin-left: -100px;
    }
    .inner {
        width: 1000px;
        min-width: 1000px;
        max-width: 1000px;
    }
    .sidebar {
        width: 195px;
    }
    .list-server ul li a,.list-server ul li a:hover {
        background-size: 195px;
        height: 40px;
    }
    .box-server .title, .box-server .title-bot a {
        padding: 7px 0;
    }
    #footer {
        margin-top: -150px;
        padding: 275px 0 0;
        height: 90px;
    }
    #footer img {
        width: 200px;
    }
    .footer-info {
        width: 630px;
        margin-top: 15px;
    }
    #bg-flash {
        top: -247px;
    }

}
